{% extends "base.html.twig" %}

{% block stylesheets %}
{{encore_entry_link_tags("login")}}
{% endblock %}
{% block body %}
    <div class="container-fluid">
    <h1>Bienvenue sur A la fraîche !</h1>
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <input placeholder="Adresse email ..." name="_username" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe ..." name="_password" type="password" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Connexion !</button>
            </div>
        </form>
    </div>
{% endblock %}