{% extends "base.html.twig" %}

{% block stylesheets %}
{{encore_entry_link_tags("inscription")}}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Inscription sur le site</h1>
        {{ form_start(form) }}

        {{ form_row(form.lastname, {'label': 'Nom','attr':{'placeholder':'Dupont'}}) }}
        {{ form_row(form.firstname, {'label': 'Prénom','attr':{'placeholder':'Jean'}}) }}
        {{ form_row(form.email, {'label': 'Adresse email','attr':{'placeholder':'Adresse email'}}) }}
        {{ form_row(form.password, {'label': 'Votre mot de passe','attr':{'placeholder':'Votre mot de passe'}}) }}
        {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe','attr':{'placeholder':'Confirmation de votre mot de passe'}}) }}

        <button class="btn btn-success">Inscription !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}