{% extends 'base.html.twig' %}

{% block title %}Mon compte A La Fraîche{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags("index")}}
    {{encore_entry_link_tags("account")}}
    
{% endblock %}

{% block body %}
    {% block navigation %}
        <div class="row navigation">
            <div class="header row">
            </div>
        </div>
    {% endblock %}
    <h1 class="account-head">Mon compte</h1>
    <hr>
    {% if user_points < 30 %}
        <img class="avatar" src="{{ asset('./img/soldat.jpg')}}" alt="avatar" class="avatar">
        {% elseif user_points >= 30 and user_points < 60 %}
            <img class="avatar" src="{{ asset('./img/general.gif')}}" alt="avatar" class="avatar">
        {% else %}
            <img class="avatar" src="{{ asset('./img/ambassadeur.gif')}}" alt="avatar" class="avatar">
    {% endif %}
    
    <p class="entete">{{ user_username }}</p>
    <p class="entete">{{ user_statut }}</p>
    <hr>
    <h2>Mes ressentis</h2>
    <div class="disposition d-flex justify-content-around">
        <div id="pastille-ressenti" class="col-md-6">
            <img id="mark" src="{{ asset('./img/mark.png')}}" alt="marqueur de carte">
            <p>{{user_points}}</p>
        </div>
        <div id='map' class="col-md-5"></div>

        {% for ressenti in user_Ressenti %}
            <div class="ressenti" id="{{ ressenti.id }}">
                <input type="number" name="lat" class="markerLat" value="{{ ressenti.lat }}">
                <input type="number" name="lon" class="markerLng" value="{{ ressenti.lon }}">
                <input type="text" class="feelings" value="{{ ressenti.ressenti }}">
            </div>
        {% endfor %}

    </div>
    <hr>
    <h2>Mes points disponibles:</h2>
    <div class=" disposition2 d-flex col-md-6">
        <p class="points"></p>
        <p class="m-5">{{ user_points }} pts</p>
    </div>
    <hr>
    <h2>Mes bons cadeaux:</h2>
    <div class="disposition d-flex justify-content-around">
        <a class="glace" href="{{ path('gifts') }}" title="Glace(s)"><img src="{{ asset('./img/glace.png')}}" alt="" /><span class="pastille">1</span></a>
        <a class="pasteque" href="{{ path('gifts') }}" title="Part(s) de pastèque"><img src="{{ asset('./img/pasteque.png')}}" alt="" /><span class="pastille">1</span></a>
        <a class="boisson" href="{{ path('gifts') }}" title="Boisson(s)"><img src="{{ asset('./img/verre.png')}}" alt="" /><span class="pastille">1</span></a>
        <a class="piscine" href="{{ path('gifts') }}" title="Entrée(s) piscine"><img src="{{ asset('./img/piscine.png')}}" alt="" /><span class="pastille">1</span></a>
    </div>
    <script>
        var user_points = '{{user_points}}';
    </script>
{% endblock %}
{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    {{ encore_entry_script_tags('compte') }}
    {{ encore_entry_script_tags('pastille_account') }}
{% endblock %}