{% extends 'base.html.twig' %}


{% block stylesheets %}
{{encore_entry_link_tags("index")}}
{{encore_entry_link_tags("form")}}

<!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>

{% endblock %}

{% block body %}
    <div class="barre-top-horizontale-bleue"></div>
    <div class="title justify-content-center">
        <h1>A La Fraîche</h1>
    </div>
    <div class="content">
        <img src="{{ asset('./img/smileys-line.png')}}" alt="smileys des ressentis de chaleur">
    </div>  
    <div>
        <div class="form-elements">{{ form_start(form)}}</div>
        <div class="col hidden">{{ form_row(form.lat) }}</div>
        <div class="col hidden">{{ form_row(form.lon) }}</div>
        
    
    

            <!-- Carte de localisation -->
        <div class="bottom-30">
            <p>Indiquez votre position sur la carte</p>
            <div id='map'></div>
            <!-- Fin de la carte de localisation -->
            <!-- Bouton de validation -->
            <button id="form" class="btn btn-success">ENVOYEZ VOTRE RESSENTI</button>
            {{ form_end(form ) }}
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    
    <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
  integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
  crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
    integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
    crossorigin=""></script>
    {{ encore_entry_script_tags('leaflet') }}            
{% endblock %}