{% extends "base.html.twig" %}
{% block stylesheets %}
{{encore_entry_link_tags("index")}}
{{encore_entry_link_tags("gifts")}}
{% endblock %}

{% block body %}
    <div class="header"></div>
    <h1>Tout vos gifts !</h1>
    <div class="container gifts">
        {% for gift in listgifts %}
            <div class="gift" style="background-color:lightblue">
                <h3>{{gift.name}}</h3>
                <img src="{{gift.image}}" >
                <p>{{gift.description}}</p>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}