{% extends "base.html.twig" %}

{% block stylesheets %}
{{encore_entry_link_tags("index")}}
{{encore_entry_link_tags("howto")}}
{% endblock %}

{% block body %}
    <div class="">
        <h1>"J'ai gagné des points. Comment les échanger contre un goodie ?"</h1>
        <div class="d-flex justify-content-center ecart">
            <div>
                <img src="{{ asset('./img/howto1.png')}}" alt="How To 1">
            </div>
            <div>
                <p>1.<br>
                    Je signale mes ressentis : <br>
                    je gagne des points 
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center ecart">
            <div>
                <img src="{{ asset('./img/howto2.png')}}" alt="How To 2">
            </div>
            <div>
                <p>2. <br>
                    Je vais chez un commerçant <br>
                    partenaire de l'opération
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center ecart">
            <div>
                <img src="{{ asset('./img/howto3.png')}}" alt="How To 3">
            </div>
            <div>
                <p>3. <br> 
                    Je présente mon téléphone au commerçant : <br>
                    il clique sur mon bon cadeau pour le valider
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center ecart">
            <div>
                <img src="{{ asset('./img/howto4.png')}}" alt="How To 4">
            </div>
            <div>
                <p>4. <br>
                    Je remporte mon goodie <br>
                    fraîcheur ! 
                </p>
            </div>
        </div>
    </div>
{% endblock %}