{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{encore_entry_link_tags("index")}}
{% endblock %}

{% block title %}Bienvenue sur à la fraîche !
{% endblock %}



{% block body %}
    {% block navigation %}
        <div class="row navigation">
            <div class="header row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9 barre-bouton">
                    {# Changement du texte des boutons si l'utilisateur est connecté ou pas #}
                    
                    {% if app.user %}
                        <a href="{{path('security_logout')}}"<button  class=" login btn-primary login">Se déconnecter</button></a>
                    {% else %}
                        <a href="{{path('security_registration')}}"<button  class=" login btn-primary">S'inscrire</button></a>
                        <a href="{{path('security_login')}}"<button  class=" login btn-primary login">Se connecter</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% if app.user %}
    <!-- menu latérale gauche -->
        <div id="menu1">
            <ul>
                <li><a href="{{ path('map') }}">Ma carte des ressentis</a></li>
                <li><a href="{{ path('map') }}">Parcours fraîcheur</a></li>
                <li><a href="{{ path('account') }}">Ressentis signalés</a></li>
                <li><a href="{{ path('account') }}">Mes points/Mes goodies</a></li>
                <li><a href="{{ path('account') }}">Notifications</a></li>
                <hr>
                <hr>
                <li><a href="{{ path('account') }}">Paramètres</a></li>
                <li><a href="{{ path('howto') }}">Comment ça marche ?</a></li>
                <li><a href="{{ path('mailto') }}">Nous contacter</a></li>
            </ul>
        </div>
    {% endif %}
    <!-- fin du menu laterale gauche -->
    <div class="d-flex justify-content-center header_title">
        <i class="fas fa-snowflake"></i>
        {% if app.user %}
            <h1>Ravie de vous revoir {{ app.user.firstname }}</h1>
        {% else %}
            <h1>Bienvenue sur A La Fraîche !</h1>
        {% endif %}
        <i class="fas fa-sun"></i>
    </div>

    <!-- Meteo du jour -->
    <div class="d-flex justify-content-center meteo" id="openweathermap-widget-19"></div>
    <!-- Fin de la méteo du jour -->

    <div>
        <p class="slogan">Vous avez chaud <br/>ou plutôt frais ?<br/>Indiquez votre ressenti !</p>
    </div>   
    
    <img id="smileys" src="{{ asset('./img/trop-chaud.png')}}" alt="smileys" title="Connectez vous et cliquez sur le bouton en dessous">
    <img id="smileys" src="{{ asset('./img/bien.png')}}" alt="smileys" title="Veuillez cliquez sur le bouton en dessous"><br>
    <img id="smileys" src="{{ asset('./img/chaud.png')}}" alt="smileys" title="Veuillez cliquez sur le bouton en dessous">
    <img id="smileys" src="{{ asset('./img/bien-frais.png')}}" alt="smileys" title="Veuillez cliquez sur le bouton en dessous"><br>

    {% if app.user %}
        <a href="{{ path('form') }}"<button  class="bouton-home btn btn-success">Signaler mon ressenti</button></a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('meteo') }}            
{% endblock %}
