{% extends 'base.html.twig' %}

{% block stylesheets %}
{{encore_entry_link_tags("index")}}
{# {{encore_entry_link_tags("signup")}} #}
{{encore_entry_link_tags("mailto")}}
{% endblock %}

{% block body %}
    <h1>Une question ? Une remarque ?<br /> Contactez nous !</h1>
    <div class=" name_row   justify-content-center  ">   
        {{ form_start(form) }}
        <h2>{{ form_row(form.message, {'label': 'Ecrivez nous vos plus beaux mots','attr':{'placeholder':'Votre application m\'a fait redécouvrir ma ville '}}) }}</h2>
            <button type=submit method="post" value=Envoyer class="btn btn-primary col-offset-4">Envoyer</button>
        {{ form_end(form ) }}
    </div>
{% endblock %}