{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{encore_entry_link_tags("index")}}
    {{encore_entry_link_tags("map")}}

    <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
{% endblock %}

{% block body %}
    {% block navigation %}
        <div class="row navigation">
            <div class="header row">
                <h1>Carte des ressentis</h1>
            </div>
        </div>
    {% endblock %}

    <!-- menu latérale gauche -->
    <div id="menu1">
        <ul>
            <li><a href="#">Mes parcours fraîcheur</a></li>
            <li><a href="#">Promenade - Berges de l'Isère</a></li>
            <li><a href="#">Lieux d'intrêt</a></li>
            <li><a href="#">Lieux climatisés</a></li>
            <li><a href="#">Brumisations et jets d'eau</a></li>
            <li><a href="#">Piscines</a></li>
            <li><a href="#">Parcs et jardins</a></li>
            <li><a href="#">Points d'eau</a></li>
        </ul>
    </div>
    <!-- fin du menu laterale gauche -->
    <!-- Essai affichage objet questionnaire -->
    <div id='map'></div>

    {% for marker in listMarkers %}
        <div class="marker" id="{{ marker.id }}">
            <input type="number" name="lat" class="markerLat" value="{{ marker.lat }}">
            <input type="number" name="lon" class="markerLng" value="{{ marker.lon }}">

            <input type="text" class="feelings" value="{{ marker.ressenti }}">
        </div>
    {% endfor %}
        
    
    
{% endblock %}

{% block javascripts %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    
    <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
  integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
  crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
    integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
    crossorigin=""></script>
    {{ encore_entry_script_tags('carte') }}            
{% endblock %}
