.disposition{
    height: 215px;
    margin-left: 15px;
    & img{
        width: 150px;
        height: 150px;
        background-color: #00AAAAEE;
        border-radius: 11.5px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &:hover{ 
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
    }
}
.disposition2{
    padding-left: 69px;
}
.account-head{
    margin-bottom: 70px;
}
h2{
    font-family: 'Fredoka One', cursive;
    margin-bottom: 2.5rem;
}
.nombre-cadeaux{
    font-size: 35px;
    margin-left: 25px;
}
span{
    font-size: 40px !important;
    padding-top: 10px;
}

.ressenti{
    display: flex;
    height: 80px;
    width: 80px;
    background-color: #197ea5;
    border-radius: 50px;
    margin-right: 90px;
    margin-left: 38px;
}
.points{
    display:flex;
    height: 80px;
    width: 80px;
    background-color: #FFC82C;
    border-radius: 50px;
}
.avatar{
    height:150px;
    width:130px;
    border-radius: 35%;
}
.entete{
    font-size:25px;
}
.bottom {
    background-color: #C0CCDA;
    padding: -70px 0px;
}
#mark{
    height: 80px;
    width: 80px;
    margin-left: 50px;
    margin-right: 50px;
    // transform: translate(180px, 60px);
    // position: absolute;
    // z-index: 9999;
}

// @media (min-width: 600px) and (orientation: landscape){
//     #mark{
//         height: 80px;
//         width: 80px;
//         transform: translate(80px, 60px);
//         position: absolute;
//         z-index: 9999;
//     }
// }
#map{
    // height:300px;
    width:250px;
    border-radius: 5px;
}
.ressenti{
    display: none;
}
/* Pastilles cadeaux */
a{
    & .glace, .pasteque, .boisson, .piscine{
        display:			block;
        position:			relative;
        width:				100px;
        height:				100px;
    }
    
    & .pastille{
        background-color: orange;
        display:			block;
        position: absolute;
        border-radius: 50%;
        width:				80px;
        height:				80px;
        margin-top: -40px;
        margin-left: -39px;
        visibility: hidden;
    }
}
#pastille-ressenti{
    display: inline-flex;
    margin-left: -65px;
    justify-content: right;
    align-items: center;


    p {
        margin: 0;
    }
}
.container-fluid{
    width: 100% !important;
    height: 100% !important;
}
.barre_menu_bottom{
    position: relative;
    z-index: 2222;
    width: 100%;
}