body {
    margin: 30px 0px;
    background-color:white;
    text-align: center;
    padding-bottom: 80px;
}
/* Mise en page du container global */
.container{
    background-color:lightblue;
    border: 1px solid black;
    padding: 60px 15px;
}
/* Fin de la mise en page du container global */
