#map{
    height: 400px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}
body{
    padding-top: 90px;
}

h3{
    margin-bottom: 3.5rem;
    margin-top: 0.5rem;
}

.ressenti{
    font-size: 30px;
}
.form-check-inline{
    margin-left: 40px;
}
.content{
    img{
        width: 250px;
        height: 60px;
        margin-bottom: 25px;
    }
}
#form{
    margin-bottom: -39%;
    label{
        margin-right: 15px;
        font-size: 20px;
    }
}
.form-group{
    font-family: cursive, Arial, Helvetica, sans-serif;
}
pre{
    display:none;
}

p{
    font-size: -45px;
}
div.footer {
    margin-bottom: -14px;
    margin-top: 0px;
}
button#submit{
    margin-bottom: 25px;
    border-radius: 15px;
}
div#map{
    margin-bottom: -6px;
}
div.barre-top-horizontale-bleue{
    height: 80px;
    width: 100%;
    background-color: #A5D6D5;
    margin-top: -90px;
}
#form_lat, #form_lng, .hidden{
    visibility: hidden;
}
.hidden{
    position: relative;
}
.form-elements :nth-child(0n+7), .form-elements :nth-child(0n+8){
    visibility: hidden;
}
.container-fluid {
    width: 100% !important;
    height: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}
.footer{
    a{
        padding-bottom: 12px;
    }
    .fas{
        font-size: 50px;
    }
}
.bottom-30{
    margin-top: -120px !important;
}
.barre_menu_bottom {
    margin-top: 80px !important;
}
