img{
    height: 150px;
}
p{
    font-size: 30px;
}
.gifts{
    padding-bottom: 4em;
}
.barre_menu_bottom {
    justify-content: space-around;
    display: flex;
    padding: 15px 0px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.header {
    width: 100%;
    height: 80px;
    background-color: rgb(192,204,218);
}
.gift{
    padding: 15px 0px;
    margin-bottom: 15px;
}
.barre_menu_bottom {
    justify-content: space-around;
    display: flex;
    padding: 15px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    ;
}