img{
    width: 136px;
    height: 136px;
    background-color: #07B8C7;
    border-radius: 50%;
    margin-right: 15px;
}
p{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ecart{
    margin: 30px;
}
.bottom{
    margin-top: -30px;
}
h1{
    margin-bottom: 50px;
    font-size: 35px !important;
}
.barre_menu_bottom {
    justify-content: space-around;
    display: flex;
    position: relative;
    padding: 15px 0px;
    width: 100%;
}