
.container-fluid{
    width: 100vw !important;
    height: 100vh !important;
}
/* Entête de la Homepage */
h1.home-title{
    font-family: 'Russo One', sans-serif;
    margin-top: 15px;
}
/* Fin de l'entête de la Homepage */
/* Footer de la Homepage */
.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C0CCDA;
    padding: 10px 0px;
    margin-top: -50px;
    z-index: 1000;
    a {

        &:hover {
            text-decoration: none;
            transform: scale(1.05) rotate(-5deg);
        }
    }
}
span.footer{
    font-size: 50px;
    margin-top: -20px;
}
span{
    font-size: 80px;
    margin-top: 15px;
    margin-right: 35px;
}
button{
    height: 70px;
    margin-top: 30px;
}
/* Fin du footer de la Homepage */


body{
    text-align: center;
    min-height:100%;
}
h1{
    font-family: 'Fredoka One', cursive;
    font-size: 35px !important;
    margin: 0.67em !important;
}
.icon{
    font-size: 50px;
    width: 200px;
    height: 200px;
    color: black;
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 20px;
    background:  rgba(58, 133, 191, 0.75);;
    transition: all .5s;
    height: 55px;
  }
  .btn-primary:hover {
    color: #FFF;
    background: rgba(7, 112, 192, 0.75);
    border: 2px solid rgba(8, 0, 0, 0);
  }

.header_title{
    margin-top: 15px;
}
p{
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    margin-bottom: 10px;
}
.fas{
    font-size: 60px;
}

.barre-bouton{
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-right: 20px;
    font-size: 20px;
    margin-top: 0.60em;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: rgba(230,237,249,0.5);
    border: 2px solid rgba(58, 133, 191, 0.75);
    color: black;
    font-weight: bold;
    transition: all .5s;
    text-decoration: none;
    
    &:hover {
        background: rgba(7, 112, 192, 0.75);
        color: #FFF;
        border-color: #fff;
        text-decoration: none;
    }
}

a {
    color: black;
    transition: all .3s ease-out;
     
    &:hover{
        color: #666;
    }    

    #menu1 & {
        position: relative;
        text-decoration: none;
        display: inline-block;
    
        &:after {
            content: ' ';
            display: inline-block;
            background-color: #666;
            height: 1px;
            width: 100%;
            max-width: 0;
            // overflow: hidden;
            transition: all .3s ease-out;
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    
        &:hover{
            text-decoration: none;
    
            &:after {
                max-width: 100%;
            }
        }    
    }
}


.container{
    display: inline;
}
/*Span de la météo*/
.meteo{
    & span{
    font-size: 20px;
    }
    & img{
        transform: translate(150%, 0%);
    }
    & a.widget-right__link{
        display: none;
    }
    & .widget-right__date{
        font-size: 25px;
        color: black !important;
        width: 300px;
        padding-top: 15px;
    }
}
/* Mise en forme des smileys de la page home */
#smileys{
    width: 170px;
    height: 170px;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover{ 
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);

    }
}
/* Fin de la mise en forme des smileys de la page home */

/* Couleur du bouton */
.bouton-home{
    background-color: #77D353;
    margin-left: 20px;
    will-change: transform;

    &:hover {
        transform: scale(1.1);
    }
}

/* Mise en page de la barre de navigation sur toutes les pages */
.navigation{
    background-color: #C0CCDA;
}
.header{
    width: 100%;
    height: 80px;
    & a{
        display: inline-block;
    }
}

// Menu latérale gauche
#menu1{
    position:absolute;/*--ou absolute si menu long--*/
    top:100px; /*distance du bord superieur*/
    left: -220px; /*distance bord gauche negatif car retrait*/
    width:260px; /*largeur menu1*/
    // height: 40px; /*hauteur de l'onglet*/
    margin-top: 25px; 
    text-align:left; /* texte align  droite*/
    padding-right: 0px; 
    background-image:radial-gradient(white, rgba(#C0CCDA, 0.5)); /*style fond et bords*/
    border-radius:0px 20px 20px 0; 
    box-shadow:6px 6px 10px 1px rgba(0,0,0,0.7),
    -1px 2px 20px rgba(255,255,255,0.6) inset; 
    -webkit-transition: all 0.3s ease-out; /*réglage coulisse*/
    -moz-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
    overflow: hidden /*auto si menu trop long*/;
    z-index: 500;
 
    &:hover{ /*positionnement et style menu survol souris*/
        left:0px;
        overflow: hidden /*auto si menu trop long*/; 
        transition:0.6s;
        z-index: 500;
    }
    
    &:before { 
        content:"Menu"; /*onglet Menu*/
        float:right; 
        padding:10px 5px;
        font-family: Tahoma, Geneva, sans-serif; 
        font-size: 12px;
        font-weight: bold;
        transition: all .3s ease-out 0s;
    } 
    
    &:hover:before {
        // content:"";/*supprime Menu quand ouvert*/
        text-indent: -100vw;
        transition-delay: 0s;
    }
    
    & .module_menu_titre { /*style des titres des modules du menu1*/
    font-family: Tahoma, Geneva, sans-serif; 
    background-image:radial-gradient(black, rgba(41, 42, 50, 0.5)); 
    border-radius: 20px 0px 0px 20px ; 
    padding-right: 20px; 
    box-shadow:-1px 2px 5px 1px rgba(0,0,0,0.7), 
    -1px 2px 20px rgba(255,255,255,0.6) inset;
      }
    
    
    & .module_menu_contenu {/*style contenu module du menu1*/
    background-image:radial-gradient(black, rgba(41, 42, 50, 0.5)); 
    border-radius:0px 0px 20px; 
    box-shadow:-1px 2px 5px 1px rgba(0,0,0,0.7), 
    -1px 2px 20px rgba(255,255,255,0.6) inset; 
    margin-right: 40px; 
    padding-right:10px; 
    padding: 20px 20px 20px 20px; }
    
     
    
    /* titremodule menu1 a la verticale*/
    & .module_menu_titre { 
    margin-right: 50px; 
    display:table; 
    width: 144px; 
    text-indent:1em; 
    transform:rotate(-90deg) translate( -50%,0); 
    transform-origin:0.35em center; 
    position: relative; 
    top: 88px; 
    left: 240px; 
    }

    ul{
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-out 0s;
        list-style-type: none;
        margin-left: 5px;
        margin-top: 5px;
        padding-left: 20px;
        opacity: 0;
        & li{
            padding-top: 10%;

            &:last-child {
                padding-bottom: 15px;
            }
        }
    }

    hr + li {
        padding-top: 0;
    }

    &:hover {

        ul {
            opacity: 1;
            max-height: 100vh;
            transition-delay: 0s;
        }
    }
}

// Alignement du module de méteo
#container-openweathermap-widget-19{
    text-align: -webkit-center;
    margin-top: 30px;
}

.widget-right, widget-right--type4, widget-right--brown{
    text-align: center;
}

.barre_menu_bottom{
    justify-content: space-around;
    display: flex;
    padding: 15px 0px;
    position: relative;
    bottom: 0;
    width: 100vw;
    & a:hover{ 
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}
.row{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

@media (max-width: 500px){
    .header_title{
        margin-top: 40%;
    }
    #menu1{
        margin-top: 60%;
    }
    .widget-right, .widget-right--type4, .widget-right--brown{
        display: none;
    }
}