.alert{
    & img{
        width: 50px;
        height: 50px;
    }
    span, a{
        font-size: 25px;
    }
}
.btn{
    margin-bottom: 0px;
}
.container-fluid{
    background-color: lightblue;
    margin-top: 10%;
    padding: 42px;
    width: 100% !important;
    height: 100% !important;
}
label{
    margin-bottom: 2.5rem;
}
.barre_menu_bottom{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
form{
    margin-top: 140px;
}
.form-group{
    justify-content: center;
    display: inline-block;
}
h1{
    margin: 2.67em !important;
}
.form-control{
    height: 100px;
}