body{
    margin: 0;
    padding: 0;
}
#map{
    position:relative;
    width: 80vw;
    height: 70vh;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0px);
    margin-top: 40px;
    margin-bottom: 40px;
}

div.footer{
    margin-top: -15px;
    a{
        font-size: 60px;
    }
}
div button{
    margin-top: 50px;
}
.header{
    padding: 30px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin:0px !important;
}
.hidden{
    visibility: hidden;
}
#form_save{
    margin-top: -25px;
    border-radius: 15px;
}
.marker{
    // position: absolute;
    // visibility:hidden;
    display: none;
}
.container-fluid{
    width: 100% !important;
    height: 100% !important;
}