body{
    background-color:lightsteelblue ; 
}
h1{
   font-size: 40px;
   margin-top:9Opx !important;
   margin-bottom:90px ;
}
.btn{
margin-top: 60px;
margin-bottom: 120px;
color: #FFF;
font-size: 30px;
font-weight: bold;
border: none;
border-radius: 20px;
background: rgb(217, 113, 243);
transition: all .5s;
height: 60px;
}
.btn-primary:hover {
color: #FFF;
background: rgb(120, 62, 126);
}
#form{
width: 500px;
text-align: center;
margin:auto; 
}
#form_Nom, #form_Prenom,#form_Email, #form_Password, #form_Age, #form_Message{
height: 50px;
width: 500px;
margin-bottom: 40px;  
}